<br>
<div class="container">
    <div class="mdc-card">
        <h1 class="text-center">Please Login To Your Page</h1>
        <!-- Inputs -->
        <div class="container">
            <form class="example-form" [formGroup]="loginForms" (ngSubmit)="login()">
                <mat-form-field class="example-full-width">
                    <mat-label>Email:</mat-label>
                    <br>
                    <input matInput type="email" placeholder="Put Your Email Please" required
                           [(ngModel)]="user.email" formControlName="email">
                </mat-form-field>
                <!-- Validators -->
                <div *ngIf="submitted && f.email.invalid" class="form-error">
                    <p *ngIf="f.email.errors.required" class="alert alert-danger">
                        Email is required!
                    </p>
                    <p *ngIf="f.email.errors.minlength" class="alert alert-danger">
                        Email should be more than 6
                    </p>
                    <p *ngIf="f.email.errors.maxlength" class="alert alert-danger">
                        Email should be less then 20
                    </p>
                </div>
                <br>
                <mat-form-field class="example-full-width">
                    <mat-label>Password:</mat-label>
                    <br>
                    <input matInput type="password" placeholder="Put Your Password Please" required
                           [(ngModel)]="user.password" formControlName="password">
                </mat-form-field>
                <!-- Validators -->
                <div *ngIf="submitted && f.password.invalid" class="form-error">
                    <p *ngIf="f.password.errors.required" class="alert alert-danger">
                        Password is required!
                    </p>
                    <p *ngIf="f.password.errors.minlength" class="alert alert-danger">
                        Password should be more than 6
                    </p>
                    <p *ngIf="f.password.errors.maxlength" class="alert alert-danger">
                        Password should be less then 10
                    </p>
                </div>
                <br>
                <input type="submit" class="mdc-fab mdc-fab--extended"><br><br>
                <div *ngIf="notLogined" class="alert alert-danger">
                    <p>
                        Invalid Email Or Password Please try Again!
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>