<div class="container">
    <app-add-task></app-add-task>
    <ul *ngFor="let task of tasks" class="collection">
        <li class="collection-item">{{task.title}}
            <a class="secondary-content">
                <i (click)="editTask($event, task)" class="fa fa-pencil"></i>
                <i *ngIf="editState && tasks.key == task" (click)="clearState()" class="fa fa-compress"></i>
            </a>
            <div *ngIf="editState && tasks.key == task">
                <form (ngSubmit)="updateTask(task)">
                    <div class="row">
                        <div class="input-field col-sm-6">
                            <input type="text" placeholder="Add Title" [(ngModel)]="task.title" name="title">
                        </div>
                        <br>
                    </div>
                    <input type="submit" value="Update" class="btn orange">
                    <button (click)="deleteTask()" class="btn red" style="margin-left: 10px">Delete</button>
                </form>
            </div>
        </li>
    </ul>
    <button (click)="signOutUser()" class="btn btn-outline-primary">Sign Out</button>
</div>

