
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">First Task</a>


  <div class="collapse navbar-collapse pull-right" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-1">
      <a [routerLink]="['/login']" routerLinkActive="active" class="btn btn-outline-primary" id="loginButton" type="submit">Login</a>
      <a [routerLink]="['/register']" routerLinkActive="active" class="btn btn-outline-success" id="registerButton" type="submit">Register</a>    
    </form>
  </div>
</nav>
