<br>
<div class="container">
    <div class="mdc-card">
        <!-- <div class="my-card__media mdc-card__media mdc-card__media--16-9"> -->
        <!-- <div class="mdc-card__media-content"> -->
        <h1 class="text-center">Please Register Here</h1>
        <!-- Inputs -->
        <div class="container">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>First Name:</mat-label><br>
                    <input matInput type="type" placeholder="Put Your First Name" required>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <mat-label>Last Name:</mat-label><br>
                    <input matInput type="type" placeholder="Put Your Last Name" required>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <mat-label>Email:</mat-label><br>
                    <input matInput type="email" placeholder="Put Your Email" required>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <mat-label>Password:</mat-label><br>
                    <input matInput type="password" placeholder="Put Your Password" required>
                </mat-form-field>
                <br>
                <input type="submit" class="mdc-button--raised"><br><br>
            </form>
        </div>
    </div>